<nav class="main_nav">
    <div class="menu" id="menu">
        <ul>
            <li><a href="#" class="dashboard_link"><i class="fa fa-braille" ></i> &nbsp; Dashboard</a></li>
            <li><a href="/views/pages/application.ejs"><i class="fa fa-cloud"></i> &nbsp; Applications</a></li>
            <li><a href="/views/pages/payment.ejs"><i class="fa fa-credit-card-alt"></i> &nbsp; Payments</a></li>
            <li><a href="/views/pages/document.ejs"><i class="fa fa-sliders"></i> &nbsp; Documents</a></li>
            <li><a href="/views/pages/profile.ejs"><i class="fa fa-user"></i> &nbsp; Profile</a></li>
            <li><a href="#logout"><i class="fa fa-power-off"></i> &nbsp; Logout</a></li>
        </ul>
    </div>
</nav>