<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/styles/admin.css">
<div class="main_container">
    <header>
        <div class="logo">
            <img src="/img/basari.png" alt="">
        </div>
        <div class="nav_start">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Schools</a></li>
                <li><a href="#">Applications</a></li>
                <li><a href="#">Payments</a></li>
            </ul>
        </div>
        <div class="nav_ends">
            <ul>
                <li><a href=""><i class="fa fa-cog"></i></a></li>
                <li><a href=""><i class="fa fa-envelope"></i></a></li>
                <li><a href=""><i class="fa fa-bell"></i></a></li>
                <li><a href=""><i class="fa fa-power-off"></i></a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="upper">
            <div class="upper-top">
                <div class="left">
                    <div class="in_side">
                        <p class="dashed">Main Account</p>
                        <h2 class="bold">Albasary Savings Account</h2>
                        <p class="dashed">Albasary Islamic Academy </p>
                        <i class="fa fa-arrow-right"></i>
                    </div>
                    <div class="off_side"></div>
                </div>
                <div class="right"></div>
            </div>
            <div class="upper-cards"></div>
        </div>
        <div class="bottom"></div>
    </main>
</div>