<link rel="stylesheet" href="styles/styleH.css" />
<link rel="stylesheet" href="styles/mobileH.css" />
<div class="container">
    <header>
        <div class="navigations">
            <ul>
                <li><a href="#home">APPLY</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>

    </header>
    <main>
        <div class="hero">
            <div class="hero-img">
                <div>
                    <img src="https://images.pexels.com/photos/7567426/pexels-photo-7567426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Governor Inuwa">
                    <div class="decos"></div>
                </div>
            </div>
            <div class="explain">
                <div class="hero-text">
                    <div class="entry-head"><span> ALBASARY ISLAMIC ACADEMY</span> <br /> البصري اكدمية الاسلامية</div>
                    <div>
                        <p>
                            "The Best Among You Are Those Who Learn the Qur'an and Teach It"

                        </p>
                    </div>
                    <div class="decos">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="nav-btns">
                        <div><a href="/user/auth/register">Register</a></div>
                        <div><a href="/user/auth/login">Login</a></div>
                    </div>

                </div>

            </div>
            <img src="img/Muslim.jpg" alt="" class="bg">
            <div class="bg-cover"></div>
        </div>
        <div class="achievments">
            <div>
                <p>
                    At Albasary Islamic Community, we are committed to nurturing a balanced educational experience that
                    merges Islamic teachings with essential digital skills.</p>
            </div>
            <div>
                <!--achievement pics goes here-->
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                    </div>
                </div>
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/2280547/pexels-photo-2280547.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit</span></div>
                    </div>
                </div>
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                    </div>
                </div>
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/2330137/pexels-photo-2330137.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                    </div>
                </div>
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/3970330/pexels-photo-3970330.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                    </div>
                </div>
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/834892/pexels-photo-834892.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                    </div>
                </div>
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/2823936/pexels-photo-2823936.jpeg?auto=compress&cs=tinysrgb&w=600"
                            alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="programmes">
            <div class="target">
                <h3>Our Target</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adi
                    pisicing elit. Commodi sed autem, sint volup
                    tatibus deserunt inventore, sapiente illum pa
                    riatur,
                </p>
            </div>
            <div class="programme">
                <div class="achieve">
                    <div class="decoration-line">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h2>Our Programmes</h2>
                </div>
                <div>
                    <div class="row-1">
                        <div class="programme-single">
                            <div class="programme-name">
                                <div>
                                    <div class="circle">
                                        <div class="circle-1">01</div>

                                    </div>
                                    <div class="line"></div>
                                </div>
                                <h3>Online Islamiyya</h3>
                            </div>
                            <div class="programme-desc">
                                <p>Experience convenient and accessible Islamic
                                    education through our online platform. Students
                                    can learn Quran, Hadith, and Islamic principles
                                    from the comfort of their homes, guided by
                                    experienced instructors.
                                </p>
                            </div>
                        </div>
                        <div class="programme-single">
                            <div class="programme-name">
                                <div>
                                    <div class="circle">
                                        <div class="circle-1">02</div>

                                    </div>
                                    <div class="line"></div>
                                </div>
                                <h3>Musabaqa (Quranic Competitions)</h3>
                            </div>
                            <div class="programme-desc">
                                <p>Albasary hosts Quranic competitions that
                                    encourage memorization, recitation, and deep
                                    understanding of the Quran. This program fosters
                                    a sense of achievement and strengthens the
                                    spiritual connection among participants.
                                </p>
                            </div>
                        </div>
                        <div class="programme-single">
                            <div class="programme-name">
                                <div>
                                    <div class="circle">
                                        <div class="circle-1">03</div>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <h3>Hadith Quiz</h3>
                            </div>
                            <div class="programme-desc">
                                <p>
                                    Engage in interactive Hadith quizzes that
                                    test and expand participants' knowledge of
                                    the sayings and teachings of Prophet Muhammad
                                    (peace be upon him). It's a fun and enriching
                                    way to deepen Islamic understanding.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="programme-single">
                            <div class="programme-name">
                                <div>
                                    <div class="circle">
                                        <div class="circle-1">04</div>

                                    </div>
                                    <div class="line"></div>
                                </div>
                                <h3>Daurat (Islamic Vacation Program)</h3>
                            </div>
                            <div class="programme-desc">
                                <p>A seasonal program that combines intensive
                                    Islamic learning with fun activities during vacations.
                                    This initiative helps students make productive use of
                                    their holidays while building their faith and character.
                                </p>
                            </div>
                        </div>
                        <div class="programme-single">
                            <div class="programme-name">
                                <div>
                                    <div class="circle">
                                        <div class="circle-1">05</div>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <h3>Skill Acquisitions</h3>
                            </div>
                            <div class="programme-desc">
                                <p>Empowering participants with hands-on
                                    training in various practical skills,
                                    preparing them for self-sufficiency and
                                    career opportunities. Our programs include
                                    vocational training tailored to individual interests.
                                </p>
                            </div>
                        </div>
                        <div class="programme-single">
                            <div class="programme-name">
                                <div>
                                    <div class="circle">
                                        <div class="circle-1">06</div>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <h3>Digital Awareness</h3>
                            </div>
                            <div class="programme-desc">
                                <p>Promoting digital literacy by
                                    teaching essential skills such as
                                    graphic design, web development,
                                    and other technology-driven courses.
                                    This initiative bridges the gap between
                                    Islamic education and modern-day tech
                                    knowledge.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row-3">
                        <a href="#">Apply &#62; </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="about">
            <h2>Our Values</h2>
            <div class="about-contents">
                <div class="bragdoc_section" id="bragdoc_section">
                    <div class="bragdoc_container">
                        <div class="bragdoc_entry">
                            <div class="bragdoc_entry_milestone"></div>
                            <div class="bragdoc_entry_block">
                                <p class="bragdoc_date">Faith and Spiritual Growth</p>
                                <div class="bragdoc_entry_content">
                                    Albasary Islamic Academy fosters a deep connection
                                    with Allah (SWT) by promoting Islamic values, piety,
                                    and moral discipline. Through programs like Musabaqa
                                    and Hadith quizzes, participants engage in Quranic
                                    recitation, memorization, and in-depth Hadith studies.
                                    This approach helps students strengthen their spiritual
                                    foundation and integrate Islamic principles into their
                                    daily lives.
                                </div>
                            </div>
                        </div>
                        <div class="bragdoc_entry">
                            <div class="bragdoc_entry_milestone"></div>
                            <div class="bragdoc_entry_block">
                                <p class="bragdoc_date">Accessibility and Inclusivity</p>
                                <div class="bragdoc_entry_content">
                                    The Academy ensures education is accessible
                                    to students from diverse backgrounds, including
                                    those in remote areas. Utilizing digital platforms
                                    like Online Islamiyya, it delivers Islamic teachings
                                    and skill training, breaking geographical barriers. This inclusivity guarantees
                                    equal opportunities for all, creating a diverse and united learning environment.
                                </div>
                            </div>
                        </div>
                        <div class="bragdoc_entry">
                            <div class="bragdoc_entry_milestone"></div>
                            <div class="bragdoc_entry_block">
                                <p class="bragdoc_date">Lifelong Learning</p>
                                <div class="bragdoc_entry_content">

                                    Albasary instills the value of continuous education and personal growth through
                                    programs like Daurat, which combines Islamic learning with productive vacation
                                    activities. By fostering a culture of lifelong learning, students are equipped to
                                    grow spiritually and intellectually throughout their lives.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bragdoc_section" id="bragdoc_section">
                    <div class="bragdoc_container">
                        <div class="bragdoc_entry">
                            <div class="bragdoc_entry_milestone"></div>
                            <div class="bragdoc_entry_block">
                                <p class="bragdoc_date">Empowerment Through Skills</p>
                                <div class="bragdoc_entry_content">

                                    Participants are empowered with practical abilities such as web design and graphic
                                    design through skill acquisition and digital awareness programs. These initiatives
                                    blend traditional teachings with modern skill sets, preparing individuals for
                                    careers and self-reliance while enhancing their ability to contribute to society.
                                </div>
                            </div>
                        </div>
                        <div class="bragdoc_entry">
                            <div class="bragdoc_entry_milestone"></div>
                            <div class="bragdoc_entry_block">
                                <p class="bragdoc_date">Integrity and Excellence</p>
                                <div class="bragdoc_entry_content">

                                    The Academy maintains high educational and ethical standards by delivering a
                                    curriculum that is spiritually enriching and professionally relevant, taught by
                                    experienced educators. This commitment to excellence ensures participants excel both
                                    personally and professionally, building trust within the community.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact" class="contact-sect">
            <form action="" id="contact-form">
                <h3>Contact us now!</h3>
                <div class="inner">
                    <div class="inputs">
                        <input type="text" name="name" id="name" placeholder="Your Name..">
                        <input type="Email" name="email" id="email" placeholder="Your Email">
                    </div>
                    <div class="text-side">
                        <textarea name="message" id="message" cols="30" rows="10">
                                 writes here..
                             </textarea>
                    </div>
                </div>
                <input class="submit-btn" type="submit" Value="Send">
            </form>
        </div>
    </main>
    <footer class="main-foothead">
        <div class="starting">
            <div class="logo-name"><img src="./img/gida gida//logonGD.png" alt=""></div>
            <div class="calls">

                <p> <i class="fa fa-phone"></i> 09067679007</p>
                <p> <i class="fa fa-phone"></i> 09032509094</p>
                <p> <i class="fa fa-phone"></i> 09086011270</p>
                <p> <i class="fa fa-envelope"></i> albasary@gmail.com</p>
                </ul>
            </div>
            <div class="nav-footer">
                <ul>
                    <li><a href="/user/auth/login">login</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="#contact-sect">Contact</a></li>
                    <li><a href="">FAQ<sub>S</sub></a></li>
                </ul>
            </div>
            <div class="subscription">
                <div class="part-one">
                    <p>Subcribe For Newsletter</p>
                    <input type="email" name="email" id="email-subs" placeholder="Your Email">
                    <input type="submit" value="SUBSCRIBE">
                </div>
                <div class="part-two">
                    <p>Get Connected Here!</p>
                    <div class="social-handles">
                        <a href="facebook.com/albasary"> <i class="fab fa-facebook"></a></i>
                        <a href="twitter.com/albasary"><i class="fab fa-twitter"></i></a>
                        <a href="wa.me/9067679007"><i class="fab fa-instagram"></i></a>
                        <a href="wa.me/9067679007"><i class="fab fa-linkedin"></i></a>
                        <a href="youtub.com/albasary"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ended">
            Powered By: Arks Inc. &copy; 2025
        </div>
    </footer>
</div>