<link rel="stylesheet" href="styles/styleH.css" />
<link rel="stylesheet" href="styles/mobileH.css" />
<div class="container">
    <header>
        <div class="navigations">
            <ul>
                <li><a href="#home">APPLY</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>

    </header>
    <main>
        <div class="hero">
                <div class="hero-img">
                        <div>
                            <img src="https://images.pexels.com/photos/7567426/pexels-photo-7567426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Governor Inuwa">
                            <div class="decos"></div>
                        </div>
                    </div>
            <div class="explain">
            <div class="hero-text">
                <div class="entry-head"><span> ALBASARY ISLAMIC ACADEMY</span> <br/> البصري اكدمية الاسلامية</div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing volup
                        elit. Quas dolores explicabo eum commodi ullam atque 
                        tenetur est eveniet voluptatibus, modi et aliquid?
 
                    </p> 
                </div>
                <div class="decos">
                    <div></div>
                     <div></div>
                     <div></div>
                 </div>

                 <div class="nav-btns">
                   <div><a href="/user/auth/register">Apply</a></div>
                   <div><a href="#">Login</a></div>
                 </div>

            </div>
            
            </div>
            <img src="img/Muslim.jpg" alt="" class="bg">
            <div class="bg-cover"></div>
        </div>
        <div class="achievments">
            <div>
                <p> 
                    Gombe State government had became imperative for instilling probity, public accountability
                    and transparency required in any modern administration, this make it effective and efficient.
                </p>
            </div>
            <div>
                <!--achievement pics goes here-->
                <div class="projects">
                    <div>
                        <img src="https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project img">
                        <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                        <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                    </div>
                </div>
                 <div class="projects">
                         <div>
                             <img src="https://images.pexels.com/photos/2280547/pexels-photo-2280547.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project img">
                             <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                             <div class="project-name"> <span> Lorem ipsum dolor sit</span></div>
                         </div>
                     </div>
                     <div class="projects">
                             <div>
                                 <img src="https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project img">
                                 <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                                 <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                             </div>
                         </div>
                         <div class="projects">
                             <div>
                                 <img src="https://images.pexels.com/photos/2330137/pexels-photo-2330137.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project img">
                                 <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                                 <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                             </div>
                         </div>
                         <div class="projects">
                             <div>
                                 <img src="https://images.pexels.com/photos/3970330/pexels-photo-3970330.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project img">
                                 <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                                 <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                             </div>
                         </div>
                         <div class="projects">
                             <div>
                                 <img src="https://images.pexels.com/photos/834892/pexels-photo-834892.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project img">
                                 <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                                 <div class="project-name"> <span> Lorem ipsum dolor sit </span></div>
                             </div>
                         </div>
                         <div class="projects">
                             <div>
                                 <img src="https://images.pexels.com/photos/2823936/pexels-photo-2823936.jpeg?auto=compress&cs=tinysrgb&w=600" alt="project img">
                                 <div class="book-mark"><i class="fa fa-bookmark"></i></div>
                                 <div class="project-name"> <span> Lorem ipsum dolor sit</span></div>
                             </div>
                         </div>
            </div>
        </div>
        <div class="programmes">
            <div class="target">
                <h3>Our Target</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adi
                    pisicing elit. Commodi sed autem, sint volup
                    tatibus deserunt inventore, sapiente illum pa
                    riatur, 
                 </p>
            </div>
            <div class="programme">
                <div class="achieve">
                    <div class="decoration-line">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h2>Our Programmes</h2>
                 </div>
                 <div>
                 <div class="row-1">
                         <div class="programme-single">
                                 <div class="programme-name">
                                     <div>
                                         <div class="circle">
                                             <div class="circle-1">01</div>
                                           
                                         </div>
                                         <div class="line"></div>
                                     </div>
                                     <h3>Bootcamps</h3>  
                                 </div>
                                 <div class="programme-desc">
                                         <p>Lorem ipsum dolor sit amet consectetur,
                                             adipisicing elit.Quaerat aperiam ab cumque do
                                             loremque iure, mollitia dolor 
                                         </p>
                                 </div>
                             </div>
                         <div class="programme-single">
                                 <div class="programme-name">
                                     <div>
                                         <div class="circle">
                                             <div class="circle-1">02</div>
                                             
                                         </div>
                                         <div class="line"></div>
                                     </div>
                                     <h3>Investments</h3>  
                                 </div>
                                 <div class="programme-desc">
                                         <p>Lorem ipsum dolor sit amet consectetur,
                                             adipisicing elit.Quaerat aperiam ab cumque do
                                             loremque iure, mollitia dolor 
                                         </p>
                                 </div>
                             </div>
                         <div class="programme-single">
                                 <div class="programme-name">
                                     <div>
                                         <div class="circle">
                                             <div class="circle-1">03</div>
                                         </div>
                                         <div class="line"></div>
                                     </div>
                                     <h3>Mentorship</h3>  
                                 </div>
                                 <div class="programme-desc">
                                         <p>Lorem ipsum dolor sit amet consectetur,
                                             adipisicing elit.Quaerat aperiam ab cumque do
                                             loremque iure, mollitia dolor 
                                         </p>
                                 </div>
                             </div>
                 </div>
                 <div class="row-2">
                         <div class="programme-single">
                                 <div class="programme-name">
                                     <div>
                                         <div class="circle">
                                             <div class="circle-1">04</div>
                                             
                                         </div>
                                         <div class="line"></div>
                                     </div>
                                     <h3>OpenSource Advocacy</h3>  
                                 </div>
                                 <div class="programme-desc">
                                         <p>Lorem ipsum dolor sit amet consectetur,
                                             adipisicing elit.Quaerat aperiam ab cumque do
                                             loremque iure, mollitia dolor 
                                         </p>
                                 </div>
                             </div>
                             <div class="programme-single">
                                     <div class="programme-name">
                                         <div>
                                             <div class="circle">
                                                 <div class="circle-1">05</div>
                                             </div>
                                             <div class="line"></div>
                                         </div>
                                         <h3>Economy Analysis</h3>  
                                     </div>
                                     <div class="programme-desc">
                                             <p>Lorem ipsum dolor sit amet consectetur,
                                                 adipisicing elit.Quaerat aperiam ab cumque do
                                                 loremque iure, mollitia dolor 
                                             </p>
                                     </div>
                                 </div>
                                 <div class="programme-single">
                                         <div class="programme-name">
                                             <div>
                                                 <div class="circle">
                                                     <div class="circle-1">06</div>
                                                 </div>
                                                 <div class="line"></div>
                                             </div>
                                             <h3>Crypto Currency</h3>  
                                         </div>
                                         <div class="programme-desc">
                                                 <p>Lorem ipsum dolor sit amet consectetur,
                                                     adipisicing elit.Quaerat aperiam ab cumque do
                                                     loremque iure, mollitia dolor 
                                                 </p>
                                         </div>
                                     </div>
                 </div>
                 <div class="row-3">
                     <a href="#">Apply &#62; </a>
                 </div>
             </div>
            </div>
        </div>
        <div id="about" class="about">
         <h2>About the Agency</h2>
          <div class="about-contents">
                 <div class="bragdoc_section" id="bragdoc_section">
                         <div class="bragdoc_container">
                             <div class="bragdoc_entry">
                                 <div class="bragdoc_entry_milestone"></div>
                                 <div class="bragdoc_entry_block">
                                     <p class="bragdoc_date">Eligibiity</p>
                                     <div class="bragdoc_entry_content">
                                         Lorem ipsum dolor, sit amet consectetur 
                                         adipisicing elit. Beatae saepe aut repudi
                                         andae asperiores quidem eos nam libero, 
                                         iusto corrupti esse laboriosam autem totam corporis 
                                         magni nihil assumenda minima nostrum facilis.
                                     </div>
                                 </div>
                             </div>
                                 <div class="bragdoc_entry">
                                         <div class="bragdoc_entry_milestone"></div>
                                         <div class="bragdoc_entry_block">
                                             <p class="bragdoc_date">Flexibility</p>
                                             <div class="bragdoc_entry_content">
                                                 Lorem ipsum dolor, sit amet consectetur 
                                         adipisicing elit. Beatae saepe aut repudi
                                         andae asperiores quidem eos nam libero, 
                                         iusto corrupti esse laboriosam autem totam corporis 
                                         magni nihil assumenda minima nostrum facilis.
                                             </div>
                                         </div>
                                     </div>
                                     <div class="bragdoc_entry">
                                         <div class="bragdoc_entry_milestone"></div>
                                         <div class="bragdoc_entry_block">
                                             <p class="bragdoc_date">Opportunity</p>
                                             <div class="bragdoc_entry_content">
                                                 Lorem ipsum dolor, sit amet consectetur 
                                         adipisicing elit. Beatae saepe aut repudi
                                         andae asperiores quidem eos nam libero, 
                                         iusto corrupti esse laboriosam autem totam corporis 
                                         magni nihil assumenda minima nostrum facilis.
                                             </div>
                                         </div>
                                     </div>
                         </div>
                     </div>
             <div class="bragdoc_section" id="bragdoc_section">
                 <div class="bragdoc_container">
                         <div class="bragdoc_entry">
                                 <div class="bragdoc_entry_milestone"></div>
                                 <div class="bragdoc_entry_block">
                                     <p class="bragdoc_date">Experience</p>
                                     <div class="bragdoc_entry_content">
                                         Lorem ipsum dolor, sit amet consectetur 
                                 adipisicing elit. Beatae saepe aut repudi
                                 andae asperiores quidem eos nam libero, 
                                 iusto corrupti esse laboriosam autem totam corporis 
                                 magni nihil assumenda minima nostrum facilis.
                                     </div>
                                 </div>
                             </div>
                             <div class="bragdoc_entry">
                                 <div class="bragdoc_entry_milestone"></div>
                                 <div class="bragdoc_entry_block">
                                     <p class="bragdoc_date">Certification</p>
                                     <div class="bragdoc_entry_content">
                                         Lorem ipsum dolor, sit amet consectetur 
                                 adipisicing elit. Beatae saepe aut repudi
                                 andae asperiores quidem eos nam libero, 
                                 iusto corrupti esse laboriosam autem totam corporis 
                                 magni nihil assumenda minima nostrum facilis.
                                     </div>
                                 </div>
                             </div>
                 </div>
             </div>
          </div>
        </div>
        <div id="contact" class="contact-sect">
             <form action="" id="contact-form">
                     <h3>Contact us now!</h3>
                     <div class="inner">
                         <div class="inputs">
                             <input type="text" name="name" id="name" placeholder="Your Name..">
                             <input type="Email" name="email" id="email" placeholder="Your Email">
                         </div>
                         <div class="text-side">
                             <textarea name="message" id="message" cols="30" rows="10">
                                 writes here..
                             </textarea>
                         </div>
                     </div>
                     <input class="submit-btn" type="submit" Value="Send">
             </form>
        </div>
    </main>
    <footer class="main-foothead">
            <div class="starting">
                <div class="logo-name"><img src="./img/gida gida//logonGD.png" alt=""></div>
                <div class="calls">
             
                        <p> <i class="fa fa-phone"></i> 07011911909</p>
                        <p> <i class="fa fa-phone"></i> 09076073008</p>
                        <p> <i class="fa fa-envelope"></i> armanvirus19@gmail.com</p>
                    </ul>
                </div>
                <div class="nav-footer">
                    <ul>
                        <li><a href="">Apply</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="#contact-sect">Contact</a></li>
                        <li><a href="">FAQ<sub>S</sub></a></li>
                    </ul>
                </div>
                <div class="subscription">
                    <div class="part-one">
                        <p>Subcribe For Newsletter</p>
                        <input type="email" name="email" id="email-subs" placeholder="Your Email">
                        <input type="submit" value="SUBSCRIBE">
                    </div>
                    <div class="part-two">
                        <p>Get Connected Here!</p>
                        <div class="social-handles">
                            <a href="#"> <i class="fab fa-facebook"></a></i>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="ended">
                     Powered By: Arks. &copy; 2023
             </div>
    </footer>
</div> 