<link rel="stylesheet" href="/styles/register.css">
<div class="whole_container">
    <div class="dula">
            <h2>Apply</h2>
            <div>
        <form action="/user/auth/register" method="post"  id="apply_form">
            <div>
            <div class="left_part">
                <input type="email" name="email" id="name_iput" placeholder="Email">
                <input type="password" name="password" id="name_iput" placeholder="Password">
            </div>
        </div>
            <div class="submission">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.?</p>
                    <input type="submit" value="Apply">
                </div>
        </form>
    </div>
    </div>
    <div class="bg">
        <img src="./img/form_bg.png" alt="aaaaaaaaaa"></div>