<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/styles/pay.css">
<!-- paystack cdn -->
<script src="https://js.paystack.co/v1/inline.js"></script>


<div class="container">
    <div>
        <%- include('../partials/nav') %>

            <main class="main">
               <h1 style="display: flex;
               align-items: center;
               justify-content: center;
               margin-top: 50%;"
               >Payment coming soon!</h1>

            </main>
            <%- include('../partials/hamburger.ejs') %>
    </div>
</div>
<script defer>
    document.querySelector('.hambuger').addEventListener('click', function () {
        document.querySelector('.main_nav').classList.toggle('open');
        console.log("clicked");
    });
    // const fileInput = document.getElementById("fileInput");
    // const fileName = document.getElementById("fileName");

    // fileInput.addEventListener("change", () => {
    //     fileName.textContent = fileInput.files[0]?.name || "No file chosen";
    // });

</script>