<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="/styles/profile.css">

    <div class="container">
        <div>
            <%- include('../partials/nav') %>
        <main class="main">
            <div class="profile_left">
                <div class="profile_badge">
                    <img src="/img/badge.jpg" alt="" class="profile_icon">
                    <h3>Markazu Sa'ad bn abi waqqas Littahfizul Qur'an</h3>
                </div>
            </div>
            <div class="profile_right"></div>
        </main>
        <%- include('../partials/hamburger.ejs') %>
    </div>
    </div>
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            // Toggle the menu open/close
            const hamburger = document.querySelector('.hamburger');
            const mainNav = document.querySelector('.main_nav');
    
            if (hamburger) {
                hamburger.addEventListener('click', () => {
                    mainNav.classList.toggle('open');
                });
            }
        });
    </script>    