* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    /* --color-primary:#066A38;
    --color-secondary:#528540; */
    --default-font: ubuntu;
    --main-shadow: 1px 1px 3px #bebaba;
    --color-error: rgb(240, 121, 121);
    --color-warning: rgb(249, 237, 101);
    --main-bg: rgba(191,191,191,0.9);
    --main-green: rgb(6, 187, 118);

}
body {
    background: var(--main-bg);
}
a {
    text-decoration: none;
    /* color: #fff; */
    /* font-family: var(--default-font); */
    font-size: 20px;
    font-weight: 300;
}
ul li {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 100px;
}

.container {
    width: 90vw;
    /* background: red; */
    /* background: rgb(246, 237, 237); */
    /* box-shadow: var(--main-shadow); */
    margin-inline: auto;
    border-radius: 10px;


}
.container > div {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.main {
    width: 75%;
    /* background: yellow; */
    margin-top: 7%;
}


.main .banner {
    width: 100%;
    /* background: rgb(238, 206, 238); */
    background: var(--main-green);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.main .banner h1 {
   font-weight: 600;
    
}
.main .main_inner {
    margin-top: 5%;
}
.main_inner .dashboard {
    margin-top: 15px;
}
.main_inner .dashboard .dashboard_top {
    display: flex;
    gap: 10px;
}
.main_inner .dashboard .dashboard_top .dashboard_card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: var(--main-green);
    border-radius: 5px;
    padding: 30px 20px;
    color: #fff;
}
.main_inner .dashboard .dashboard_top .dashboard_card .icon i{
    font-size: 40px;
}
.main_inner .dashboard .dashboard_top .dashboard_card:nth-child(2){
    background: var(--color-error);
}
.main_inner .dashboard .dashboard_top .dashboard_card .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 10px 0 0 0;
    font-size: 18px;
    
}
.main_inner .dashboard .dashboard_top .dashboard_card .detail p {
    /* font-size: 10px; */
    width: 150px;
}



