* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    /* --color-primary:#066A38;
    --color-secondary:#528540; */
    --default-font: ubuntu;
    --main-shadow: 1px 1px 3px #bebaba;
    --color-error: rgb(240, 121, 121);
    --color-warning: rgb(249, 237, 101);
    --main-bg: rgba(191,191,191,0.9);
    --main-green: rgb(6, 187, 118);

}
body {
    background: var(--main-bg);
    font-family: GraphikBold;
}
a {
    text-decoration: none;
    /* color: #fff; */
    /* font-family: var(--default-font); */
    font-size: 20px;
    font-weight: 300;
}
ul li {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 100px;
}

.container {
    width: 90vw;
    /* background: red; */
    /* background: rgb(246, 237, 237); */
    box-shadow: var(--main-shadow);
    margin-inline: auto;
    border-radius: 10px;


}
.container > div {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.main_nav {
    width: 20%;
    height: 90vh;
    /* background: red; */
    /* background: rgb(246, 237, 237); */
    /* box-shadow: var(--main-shadow); */
    color: #fff;
    /* border-radius: 5px; */
    border-right: 3px solid var(--main-green);
}

.main_nav .menu {
    margin: 100px 0 0 20px;

}
.menu ul li {
    margin: 15px 0;
}
.menu ul li a {
    color: var(--color-primary);
    transition: .2s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
}
.menu ul li a:hover,
.menu ul li a:active {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}
.menu ul li a.dashboard_link {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}

.main {
    width: 75%;
    /* background: yellow; */
    margin-top: 7%;
}
.main_list {
    /* width: 98vw; */
}
.main_list .musabaqa_list{
    /* width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth; */
}
table {
    margin: 2rem 0;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.main .banner {
    width: 100%;
    /* background: rgb(238, 206, 238); */
    background: var(--color-secondary);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.main .banner h1 {
   font-weight: 600;
    
}
.main .main_inner {
    margin-top: -5%;
}
.main_inner .dashboard {
    margin-top: 20px;
}
.main_inner .dashboard .dashboard_top {
    display: flex;
    gap: 10px;
}
.main_inner .dashboard .dashboard_top .dashboard_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--main-green);
    border-radius: 5px;
    padding: 20px;
    color: #fff;
}
.main_inner .dashboard .dashboard_top .dashboard_card .icon i{
    font-size: 30px;
}
.main_inner .dashboard .dashboard_top .dashboard_card:nth-child(2){
    background: var(--color-error);
}
.main_inner .dashboard .dashboard_top .dashboard_card .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 10px 0 0 0;
    font-size: 18px;
    
}
.main_inner .dashboard .dashboard_top .dashboard_card .detail p {
    /* font-size: 10px; */
    width: 150px;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.action a {
    color: var(--main-green);
}



/* responsive design */
@media (max-width: 768px) {
    .container {
        /* background: #000; */
        width: 100vw;
        /* margin: 0; */
    }
    .hambuger {
        position: fixed;
        /* background: red; */
        top: 10px;
        left: 300px;
        display: block;
        /* z-index: 100; */
        cursor: pointer;
    }
    .hambuger div {
        width: 40px;
        height: 8px;
        background: var(--main-green);
        border-radius: 12px;
        margin: 5px;
        z-index: 100;
    }
    .main {
        width: 100vw;
        margin-top: 10px;
        padding: 20px;
       
    }
    .main .main_inner .dashboard .dashboard_top {
        flex-direction: column;
    }
    
    .main_nav {
        display: none;
        width: 100vw;
        height: 100vh;
        background: rgb(143, 132, 132);
        color: #fff;
        flex-direction: row-reverse;
        /* border-radius: 10px; */
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .main_nav .menu ul li a {
        color: #fff;
    }
    .main_nav.open {
        display: block;
        width: 100vw;
        height: 100vh;
        transform: translateX(0);
    }
    #apply_form > div:first-child{
        flex-direction: column;
    }
    .left_part {
       flex-direction: column;
       width: 100%;
       
    }
    .left_part div {
        margin-top: -20%;
    }
    .whole_container {
        margin: -5rem -2rem -2rem -2rem;
    }
    .whole_container .bg img{
        position: fixed;
        top: 25%;
    }
    .dula{
        height: 100%;
        padding: 3rem .5rem;
        margin-top: 100px;
        /* margin-inline: auto; */
        justify-content: center;
    }
    .dula > div {
        margin-top: 2rem;
        /* margin-left: 15rem; */
    }
    .dula > h2{
        margin: 80rem 0 0 30px;
        /* text-align: center; */
    }
    #apply_form {
        /* margin-top: -150px; */
    }
    #apply_form > div {
        margin-left: 20rem;
    }
    .right_part select, .left_part input{
        width: 100%;
    }
    .submission input{
        width: 98%;
    }
}



/* Arman stylesheet */

.whole_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width:100%;
    align-items: center;
    justify-content: center;
    min-height:100%;
}
.dula{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width:100%;
    align-items: center;
    /* justify-content: center; */
    min-height:100vh;
}
.dula > div {
    margin-top: 2%;
    margin-left: -15rem;
}
.whole_container .bg{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index:-5;
}
.whole_container .bg img{
    width: 100%;
    height:auto;
}
.dula > h2{
    margin-top: 5rem;
    font-family: poppins;
    font-weight: 500;
}
.dula{
    z-index: 1;
    width: 100%;
    height: 100%;
    /* background:rgba(191,191,191,0.9); */
    margin-top: -10%;
}
#apply_form {
    /* margin-top: -150px; */
}
#apply_form > div:first-child{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* gap: 8px; */
    justify-content:space-around;
}
.left_part {
    display: flex;
    margin-top: -15px;
}

.left_part input{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background:rgba(242,242,242,.5);
    display: block;
    width: 300px;
    height: 35px;
    padding: 3px 15px;
    margin: 1rem .5rem;
    font-family: poppins;
    box-shadow: var(--box-shadow-div);
}
input::placeholder{
    color: #111;
    font-weight: 500;
    font-family: arial;
    background:transparent;
}

.right_part select,
.left_part select,
.left_part textarea {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background:rgba(242,242,242,.5);
    display: block;
    width: 300px;
    height: 35px;
    padding: 3px 15px;
    margin: 1rem .5rem;
    box-shadow: var(--box-shadow-div);
}
.right_part h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1rem .5rem;
    font-weight: 500;

}
.submission{
    margin:0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: red; */
}
.submission p{
    max-width: 300px;
    align-self: flex-start;
    margin-left: 10px;
    color: #04481b;
}

.submission input{
    background: rgb(6, 187, 118);
    color: var(--color-white);
    font-family: poppins;
    display: inline-block;
    padding: 3px 30px;
    margin-top: 20px;
    border: none;
    outline: none;
    height: 35px;
    cursor: pointer;
    width: 48%;
    color: #feffef;
    font-weight: 500;
    box-shadow: 0 0 3px rgba(12,202,74, .3);
    border-radius: 5px;
}
