* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    /* --color-primary:#066A38;
    --color-secondary:#528540; */
    --default-font: ubuntu;
    --main-shadow: 1px 1px 3px #bebaba;
    --color-error: rgb(240, 121, 121);
    --color-warning: rgb(249, 237, 101);
    --main-bg: rgba(191,191,191,0.9);
    --main-green: rgb(6, 187, 118);

}
body {
    background: var(--main-bg);
    font-family: GraphikBold;
}
a {
    text-decoration: none;
    /* color: #fff; */
    /* font-family: var(--default-font); */
    font-size: 20px;
    font-weight: 300;
}
ul li {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 100px;
}

.container {
    width: 90vw;
    /* background: red; */
    /* background: rgb(246, 237, 237); */
    box-shadow: var(--main-shadow);
    margin-inline: auto;
    border-radius: 10px;


}
.container > div {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.main_nav {
    width: 20%;
    height: 90vh;
    /* background: red; */
    /* background: rgb(246, 237, 237); */
    /* box-shadow: var(--main-shadow); */
    color: #fff;
    /* border-radius: 5px; */
    border-right: 3px solid var(--main-green);
}

.main_nav .menu {
    margin: 100px 0 0 20px;

}
.menu ul li {
    margin: 15px 0;
}
.menu ul li a {
    color: var(--color-primary);
    transition: .2s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
}
.menu ul li a:hover,
.menu ul li a:active {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}
.menu ul li a.dashboard_link {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}

.main {
    width: 75%;
    /* background: yellow; */
    /* margin-top: 7%; */
}
.main .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.main .profile .profile_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .profile .profile_left .profile_badge {
    border-radius: 1rem;
    padding: 2rem;
    width: 20rem;
    cursor: pointer;
    
    
}
.main .profile .profile_left .profile_badge .profile_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}
.file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .custom-file-label {
    padding: 10px 20px;
    background-color: var(--main-green);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .custom-file-label:hover {
    background-color: #fff;
    color: var(--main-green);
  }
  
  #fileName {
    font-size: 14px;
    color: #555;
  }
  

.profile_right .edit-btn {
    color: var(--main-green);
    border: 2px solid var(--main-green);
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem 0px;
}
.profile_right .edit-btn:hover {
    color: #fff;
    transition: background .2s ease-in-out;
    background: var(--main-green)
}

.main .profile .profile_right {}
.main .profile .profile_right .details {
    width: 35vw;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    
}
.main .profile .profile_right .details > div {
    display: flex;
    /* margin: 1rem 0rem; */
}
.main .profile .profile_right .details .detail_contact .icons:nth-child(1) {
    margin-top: 0;

}
.main .profile .profile_right .details .detail_contact .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    /* margin: 10px 0; */
}
.main .profile .profile_right .details .detail_contact .icons span {
    font-size: 20px;
    font-weight: bold;
}
.main .profile .profile_right .details .detail_contact:nth-last-child(1) {
    /* margin-top: 0; */
}
.main .profile .profile_right .details .detail_contact {
    width: 100%;
    margin: 10px 0;
    color: #222;
}
.main .profile .profile_right .details .detail_contact i {
    font-size: 20px;
    color: #111 !important;
}
.main .profile .profile_right .details .detail_contact p {
    margin: 1rem 0 0 0;
    /* font-size: 20px; */
    font-weight: 300;
    color: #333 !important;
}

.main .profile .profile_right .details {}




/* responsive design */
@media (max-width: 768px) {
    .container {
        width: 100vw;
    }
    .main_nav {
        display: none; /* Initially hidden */
        position: fixed; /* Position it relative to the viewport */
        top: 0;
        left: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
        z-index: 1000; /* High z-index to appear above other elements */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%); /* Hide above the viewport */
        transition: transform 0.5s ease-in-out; /* Smooth slide-in effect */
    }
    
    .main_nav.open {
        display: flex; /* Show the menu */
        transform: translateY(0); /* Slide into view */
    }
    
    .hambuger {
        position: fixed;
        top: 10px;
        left: 300px;
        display: block;
        cursor: pointer;
        z-index: 200;
    }
    .hambuger div {
        width: 40px;
        height: 8px;
        background: var(--main-green);
        border-radius: 12px;
        margin: 5px;
        z-index: 100;
    }
    
.main_nav .menu {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.menu ul li {
    margin: 15px 0;
    width: 100vw;
}
.menu ul li a {
    color: var(--color-primary);
    transition: .2s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.menu ul li a:hover,
.menu ul li a:active {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}
.menu ul li a.dashboard_link {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}
    .main {
        width: 100vw;
        margin-top: 10px;
        padding: 20px;
       
    }
    .main .profile {
        flex-direction: column;
    }
    .profile_left .edit-btn {
        top: 7rem;
        left: 19rem;
        
    }
    .main .profile .profile_right .details {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .main .profile .profile_right .details .detail_contact {
        /* background: var(--main-green); */
        padding: 1.5rem;
        width: 98vw;
        border-radius: 10px;
        color: #fff;
    }
    .main .profile .profile_right .details > div {
        flex-direction: column;
        /* margin: 1rem 0rem; */
    }
    .main .profile .profile_right .details .detail_contact {
        color: #222;
    }
    .main .profile .profile_right .details .detail_contact i {
        font-size: 20px;
        color: #111 !important;
    }
    .main .profile .profile_right .details .detail_contact p {
        color: #333 !important;
    }
    .profile_right .edit-btn {
        border-radius: 10rem;
        padding: .5rem 5rem;
        margin-bottom: 1rem;
}


