* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    /* --color-primary:#066A38;
    --color-secondary:#528540; */
    --default-font: ubuntu;
    --main-shadow: 1px 1px 3px #bebaba;
    --color-error: rgb(240, 121, 121);
    --color-warning: rgb(249, 237, 101);
    --main-bg: rgba(191,191,191,0.9);
    --main-green: rgb(6, 187, 118);

}
body {
    background: var(--main-bg);
    font-family: GraphikBold;
}
a {
    text-decoration: none;
    /* color: #fff; */
    /* font-family: var(--default-font); */
    font-size: 20px;
    font-weight: 300;
}
ul li {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 100px;
}

.container {
    width: 90vw;
    /* background: red; */
    /* background: rgb(246, 237, 237); */
    box-shadow: var(--main-shadow);
    margin-inline: auto;
    border-radius: 10px;


}
.container > div {
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.main_nav {
    width: 20%;
    height: 90vh;
    /* background: red; */
    /* background: rgb(246, 237, 237); */
    /* box-shadow: var(--main-shadow); */
    color: #fff;
    /* border-radius: 5px; */
    border-right: 3px solid var(--main-green);
}

.main_nav .menu {
    margin: 100px 0 0 20px;

}
.menu ul li {
    margin: 15px 0;
}
.menu ul li a {
    color: var(--color-primary);
    transition: .2s ease-in-out;
    margin-left: 20px;
    margin-bottom: 20px;
}
.menu ul li a:hover,
.menu ul li a:active {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}
.menu ul li a.dashboard_link {
    width: 100%;
    background: var(--main-green);
    color: #fff;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 0 10px 15px;
}

.main {
    width: 75%;
    /* background: yellow; */
    /* margin-top: 7%; */
}
.main .profile {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
}


.main .profile .profile_left{}
.main .profile .profile_left .profile_badge {
    background: linear-gradient(to bottom, var(--main-bg) 50%, var(--main-green) 50%);
    border-radius: 10px;
    padding: 2rem;
    width: 20rem;
    box-shadow: 1rem 1rem 1rem var(--main-bg);
    cursor: pointer;
    
}
.main .profile .profile_left .profile_badge .profile_icon {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 50%;
}
.main .profile .profile_left .profile_badge h3 {
    font-weight: 500;
    margin-top: 1.5rem;
    color: #fff;
}
.profile_left .edit-btn {
    color: var(--main-green);
    font-size: 23px;
    position: absolute;
    top: 5rem;
    left: 37rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.profile_left .edit-btn:hover {
    color: #fff;
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

.main .profile .profile_right {}
.main .profile .profile_right .details {
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.main .profile .profile_right .details .detail_contact {
    background: var(--main-green);
    padding: 1.5rem;
    width: 100%;
    border-radius: 10px;
    color: #fff;
}
.main .profile .profile_right .details .detail_contact i {
    font-size: 28px;
}
.main .profile .profile_right .details .detail_contact p {
    margin: 1rem 0 0 0;
    font-size: 20px;
}

.main .profile .profile_right .details {}




/* responsive design */
@media (max-width: 768px) {
    .container {
        /* background: #000; */
        width: 100vw;
        /* margin: 0; */
    }
    .hambuger {
        position: fixed;
        /* background: red; */
        top: 10px;
        left: 300px;
        display: block;
        /* z-index: 100; */
        cursor: pointer;
    }
    .hambuger div {
        width: 40px;
        height: 8px;
        background: var(--main-green);
        border-radius: 12px;
        margin: 5px;
        z-index: 100;
    }
    .main {
        width: 100vw;
        margin-top: 10px;
        padding: 20px;
       
    }
    .main_nav {
        display: none;
        width: 100vw;
        height: 100vh;
        background: rgb(143, 132, 132);
        color: #fff;
        flex-direction: row-reverse;
        /* border-radius: 10px; */
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .main_nav .menu ul li a {
        color: #fff;
    }
    .main_nav.open {
        display: block;
        width: 100vw;
        height: 100vh;
        transform: translateX(0);
    }
    .main .profile {
        flex-direction: column;
    }
    .profile_left .edit-btn {
        top: 7rem;
        left: 19rem;
        
    }
    .main .profile .profile_right .details {
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .main .profile .profile_right .details .detail_contact {
        background: var(--main-green);
        padding: 1.5rem;
        width: 100%;
        border-radius: 10px;
        color: #fff;
    }
}


