* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    /* --color-primary:#066A38;
    --color-secondary:#528540; */
    --default-font: ubuntu;
    --main-shadow: 1px 1px 3px #bebaba;
    --color-error: rgb(240, 121, 121);
    --color-warning: rgb(249, 237, 101);
    --main-bg: rgba(191,191,191,0.9);
    --main-green: rgb(6, 187, 118);

}
body {
    background: var(--main-bg);
    font-family: GraphikBold;
}
a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

ul li {
    display: inline;
    margin: 0 .5rem;
    list-style-type: none;
}

.dashed {
    color: #999;
    font-family: sans-serif;
    font-weight: 300;
    /* font-size: 18px; */
}

.main_container {
    width: 90vw;
    /* background: red; */
    margin-inline: auto;
}
/* header starts */
header {
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4.5rem;
    position: fixed;
    /* background: var(--main-green); */
    top: -0.1rem;
    left: 0;
    right: 0;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}
/* adding background to the header on scroll */
header.scrolled {
    background: var(--main-bg); 
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
    color: #fff;
}

header .logo_start {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
header .logo {
    
}
header .logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
header .nav_start {
    display: flex;
}
/* header ends */
/* main starts */
main {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: start;
}


/* left sections start */
.left_section{}
.left_section .left_container {
    /* background-color: #fff; */
    padding: 2rem;
}
.left_section .left_container .left_content {
    display: flex;
    margin-top: 1rem;
}
.left_section .left_container .left_content .pending {}
.left_section .left_container .left_content .pending .pending_head {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.left_section .left_container .left_content .pending .pending_head .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}
.left_section .left_container .left_content .pending .pending_head .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.left_section .left_container .left_content .pending .pending_head .pending_headings {

}
.left_section .left_container .left_content .pending .pending_content {
    padding: 15px 10px;
    margin-left: 2rem;
    cursor: pointer;
}
.left_section .left_container .left_content .pending .pending_content .pending_img {
    width: 300px;
    border-radius: .5rem;

}
.left_section .left_container .left_content .pending .pending_content .pending_img img {
    width: 100%;
    border-radius: .5rem;
}
.left_section .left_container .left_content .pending .pending_content .pending_actions {
    color: #fff;
    font-weight: 300;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
.left_section .left_container .left_content .pending .pending_content .pending_actions .reject i,
.left_section .left_container .left_content .pending .pending_content .pending_actions .approve i {
    margin-right: .5rem;
}
.left_section .left_container .left_content .pending .pending_content .pending_actions .reject {
    background: rgb(250, 76, 76);
    padding: 10px;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

}
.left_section .left_container .left_content .pending .pending_content .pending_actions .approve {
    background: var(--main-green);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
   
}
p.approve {
    padding: 10px;
}

/* left sections ends */

/* right section */
.sub_area{
    /* width: 45%; */
}
.sub_area .sub_container {
    background: #fff;
    border-radius: .5rem;
    padding: 20px;
}
.sub_area .sub_container .sub_content {}
.sub_area .sub_container .sub_content .sub {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    
}
.sub_area .sub_container .sub_content .sub:hover {
    background: #f1f1f1;
    padding: 10px 2px;
    transition: all .2s ease-in-out;
    border-radius: .5rem;
    transform: scale(1.02);
}
.sub_area .sub_container .sub_content .sub .sub_logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sub_area .sub_container .sub_content .sub .sub_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;

}
.sub_area .sub_container .sub_content .sub_action {
    background: var(--main-green);
    color: #fff;
    padding: 10px 20px;
    border-radius: .5rem;
    font-weight: 300;
    cursor: pointer;
}

/* right section ends */

/* modal */
    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    .modal-content:hover {
        transform: scale(1.05);
    }

    .close {
        position: absolute;
        top: 10px;
        right: 25px;
        color: #fff;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
    }

    #caption {
        margin: auto;
        display: block;
        text-align: center;
        color: #ccc;
        font-size: 18px;
        padding: 10px 0;
    }

/* responsive design */
@media (max-width: 768px) {

}



/* cluster password: vyJHw0BMR3eecHUL  */